<div id="map"></div>

<div class="contact-details">
  <a href="tel:+61422039698">
    <i class="large-icon-button icon-phone"></i>
  </a>
  <a href="mailto:supercrabtree@googlemail.com">
    <i class="large-icon-button icon-envelope"></i>
  </a>
  <!-- <a href="https://github.com/supercrabtree" target="_blank">
    <i class="large-icon-button icon-github"></i>
  </a>
  <a href="http://uk.linkedin.com/in/supercrabtree" target="_blank">
    <i class="large-icon-button icon-linkedin"></i>
  </a> -->
  <p>+61 (0) 422 039 698</p>
  <p>supercrabtree@googlemail.com</p>
</div>
