<div class="project">
  <h1>Andy's Wild Adventures</h1>
    <a href="http://www.bbc.co.uk/cbeebies/andys-wild-adventures/games/andys-wild-adventures-game/" target="_blank">
      <img src="images/andys-wild-adventures.jpg" class="project-img">
    </a>
</div>

<div class="project">
  <h1>Tate Movie Project</h1>
    <!-- <a href="http://kids1.tate.org.uk/blog/?p=1104" target="_blank">
      <img src="images/BAFTA_Twitter_Profile.png" class="award">
    </a>
    <a href="http://kids1.tate.org.uk/blog/?p=1035" target="_blank">
      <img src="images/world-record.jpg" class="award">
    </a> -->
    <a href="http://www.tatemovie.co.uk" target="_blank">
      <img src="images/the-tate-movie-project.jpg" class="project-img">
    </a>
</div>

<div class="project">
  <h1>Championsheeps</h1>
  <a href="http://www.bbc.co.uk/cbbc/games/championsheeps-game" target="_blank">
    <img src="images/championsheeps.png" class="project-img">
  </a>
</div>

<div class="project">
  <h1>Deadly Planet</h1>
  <a href="http://www.bbc.co.uk/cbbc/games/deadly-planet-game" target="_blank">
    <img src="images/deadly-planet.jpg" class="project-img">
  </a>
</div>